<center>
    <h1 >Formulario de registro simple</h1>
<br>
<form method="POST" action="/general/guardar/">


    <div class="row">
        <div class="col-md-12 col-md-offset-0">
            <div class="col-md-6 col-md-offset-6">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" name="nombre">
            </div>
        </div>
    </div>  

    <div class="row"> 
        <div class="col-md-12 col-md-offset-0">
            <div class="col-md-6 col-md-offset-6">
                <label for="apellido">Apellido</label>
                <input type="text" class="form-control" name="apellido">
            </div>
         </div> 
    </div> 
    
    <div class="row">
        <div class="col-md-12 col-md-offset-0">
            <div class="col-md-6 col-md-offset-6">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email">
            </div>
        </div>
    </div> 

    <div class="row">
        <div class="col-md-12 col-md-offset-0">
            <div class="col-md-6 col-md-offset-6">
                <label for="contraseña">Contraseña</label>
                <input type="text" class="form-control" name="contraseña">
            </div>
        </div>
    </div>

<br>
<br>
    <input type="submit" value="Agregar" class="btn btn-success btn-lg">    
    <a href="/general/datos" class="btn btn-info btn-lg">Registros</a>
</form>
</center>
